      <div class="footer-container">
        <div class="ttc-tag">Web design and development by <a href="https://www.twelvetonecreative.com" target="_blank">Twelve Tone Creative</a></div>
        <div class="footer">
          <div class="footer-left text-footer-link footer-content">
            <a href={{ "/" | relURL }}>HOME</a>
            <a href={{ "/work" | relURL }}>WORK</a>
            <a href={{ "/company" | relURL }}>COMPANY</a>
            <a href={{ "/privacy" | relURL }}>PRIVACY POLICY</a>
            <a href={{ "/contact" | relURL }}>CONTACT</a>
          </div>
          <div class="footer-center footer-content">
            <a href="#"><img src={{ "svg/logo.svg" | relURL }} style="width:62px;height:65px;padding-right:8px"  alt="Creative License"/></a>
            <!--<div class="text-footer-cities">New York | Mumbai | Milan | São Paulo</div>-->
            <!--<div class="text-footer-cities">{{ .Site.Data.contact_info.address_line1 }}&nbsp;{{ .Site.Data.contact_info.address_line2 }}</div>-->
            <div class="footer-socials">
              <a href="https://www.facebook.com/{{ .Site.Data.contact_info.facebook }}/" target="_blank" class="social"><img src={{ "svg/fb.svg" | relURL }} width="21" height="22" alt="Creative License on Facebook"/></a>
              <a href="https://www.instagram.com/{{ .Site.Data.contact_info.instagram }}/" target="_blank" class="social"><img src={{ "svg/insta.svg" | relURL }} width="21" height="22" alt="Creative License on Instagram" /></a>
              <a href="https://twitter.com/{{ .Site.Data.contact_info.twitter }}" target="_blank" class="social"><img src={{ "svg/twitter.svg" | relURL }} width="24" height="21" alt="Creative License on Twitter"/></a>
            </div>
          </div>
          <div class="footer-right text-footer-link footer-content">
            <!--<a href="tel:{{ .Site.Data.contact_info.phone_raw }}">{{ .Site.Data.contact_info.phone }}</a><br/>
            <a href="mailto:{{ .Site.Data.contact_info.email }}">{{ .Site.Data.contact_info.email }}</a>-->
            <a href="mailto:kevin@creativelicense.com">kevin@creativelicense.com</a><br/>
            <a href="mailto:aatish@creativelicense.com">aatish@creativelicense.com</a><br/>
            <a href="mailto:david@creativelicense.com">david@creativelicense.com</a>
          </div>
        </div>
      </div>