{{ define "head" }}
<style>

  .text-nav-black a {
    color: black;
  }

  .header-item-logo {
    background-image: url('../svg/logo_dark_notext.svg');
    width: 210px;
    height: 64px;
  }

  {{ range $index, $slide := .Params.carousel }}
    {{ $index := add $index 1 }}
    .slider{{ $index }} {
      background-image: url('{{ $slide.banner_image }}');
      background-size: cover;
      background-position: center;
    }{{ end }}

  #nav-home {
    display: none;
  }

  .ttc-tag {
    display: none;
  }

  {{ range $index, $spot := .Site.Data.spots.spots }}
    {{ $index := add $index 1 }}
    {{ if lt $index 19 }}
      .item.spot{{ $index }} {
        background-image: url('{{ $spot.image }}');
      }
    {{ end }}
  {{ end }}
</style>
{{end}}
{{ define "main" }}
    <body style="overflow: hidden;">

      {{ partial "preloader.html" . }}

      <div id="container">

        {{ partial "nav.html" . }}

        {{ $carouselLen := len .Params.carousel}}

        <div class="slide slide1">
          <div class="css-slider-wrapper reveal-after-load">
            {{ range $index, $slide := .Params.carousel }}
              {{ $index := add $index 1 }}
              {{ if eq $index 1 }}
                <input type="radio" name="slider" class="slide-radio{{ $index }}" id="slider_{{ $index }}">
              {{ else }}
                <input type="radio" name="slider" class="slide-radio{{ $index }}" id="slider_{{ $index }}">
              {{ end }}
            {{ end }}
            <div class="next control"><img src="img/arrow-right.png" alt="Next slide" /></div>

            <div class="previous control"><img src="img/arrow-left.png" alt="Next slide" /></div>

            <div class="slider-pagination">

              
              <!--<label for="slider_{{$carouselLen}}" class="page{{$carouselLen}}"></label>-->
              {{ range $index, $slide := .Params.carousel }}
                {{ $index := add $index 1 }}
                {{ if le $index $carouselLen }}<label for="slider_{{ $index }}" class="page{{ $index }}"></label>{{end}}
              {{ end }}
            </div>


            {{ range $index, $slide := .Params.carousel }}
              {{ $index := add $index 1 }}
              {{ $counter := 0 }}
              <div class="{{ if le $index 2 }}bcg{{end}} slider slider{{ $index }}" id="slider__{{ $index }}">
                <div class="caption text-caption-highlight slide1" id="slider{{ $index }}-highlight"></div>
                <div class="caption text-caption slide1 lity-vid" id="slider{{ $index }}-caption" data-lity data-lity-target="{{ $slide.video }}">
                  <strong>{{ $slide.name }}</strong><br/>
                  Client: {{ $slide.client }}<br/>
                  {{ if $slide.talent }}Talent: {{ $slide.talent }}<br/>{{ $counter = add $counter 1 }}{{end}}
                  {{ if $slide.music }}Music: {{ $slide.music }}<br/>{{ $counter = add $counter 1 }}{{end}}
                  {{ if $slide.ip }}IP: <i>{{ $slide.ip }}</i><br/>{{ $counter = add $counter 1 }}{{end}}
                  CL Role: {{ $slide.cl_role }}
                  {{ if eq $counter 2 }}<style>#slider{{ $index }}-highlight {height: 150px}</style>{{end}}
                  {{ if eq $counter 3 }}<style>#slider{{ $index }}-highlight {height: 150px}#slider{{ $index }}-caption {font-size:14px;line-height: 20px;}</style>{{end}}
                </div>
              </div>
            {{ end }}

          </div>


          <div id="slide2-trigger"></div>
          <div class="heading slide2">
            <div class="text-heading1">
              {{ .Params.tagline_1 }}<br/>
              {{ .Params.tagline_2 }}<br/>
              {{ .Params.tagline_3 }}
            </div>
            <div class="text-subheading1 slide2">
              {{ .Params.tag_subtext }}
            </div>
          </div>
        </div>

        <div class="slide slide3">

          <div class="text-heading2 heading slide3">
            Our Work
          </div>

          <br/>

          <div class="work">
            {{ range $index, $spot := .Site.Data.spots.spots }}
            {{ $index := add $index 1 }}
            {{ if lt $index 19 }}
            <div class="item lity-vid spot{{$index}} {{ if gt $index 12 }} more-work {{ end }}" data-lity data-lity-target="{{ $spot.video }}">
              <div class="overlay">
                <div class="overlay-playbutton"></div>
                <div class="overlay-item text-caption">
                  <!--<div class="name"><strong>{{ $spot.name }}</strong></div>-->
                  <div class="client">Client: <strong>{{ $spot.client }}</strong></div>
                  {{ if $spot.agency }}<div class="agency">Agency: <strong>{{ $spot.agency }}</strong></div>{{end}}
                  {{ if $spot.talent }}<div class="spot_talent">Talent: <strong>{{ $spot.talent }}</strong></div>{{end}}
                  {{ if $spot.music }}<div class="spot_music">Music: <strong>{{ $spot.music }}</strong></div>{{end}}
                  {{ if $spot.ip }}<div class="spot_ip">IP: <strong>{{ $spot.ip }}</strong></div>{{end}}
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}

          </div>

          <div class="button1 work-more" id="see-more-work"><span>SEE MORE</span></div>
        </div>

        <div class="slide slide4">
          <div class="text-heading2 heading slide4">
            Our Firm
          </div>
          <div class="text-content slide4" style="padding-bottom: 0px">
            {{.Content}}
            
          </div>

          <div id="footer-trigger"></div>
          <div class="slide4-hero" id="fullscreen-bg-video" style="padding: 50px 0 25px 0">
            <video muted class="fullscreen-bg__video">
                <source src="{{ .Params.video }}" type="video/mp4">
            </video>

            <div class="controls">
              <div class="vid-playpause"></div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="vid-rewind"></div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="vid-mute"></div>
            </div>
          </div>

          <div class="text-content slide4" id="slide4hc" style="padding: 10px 0 25px 0; font-size: 14px;display:flex;vertical-align: middle;"> {{ .Params.video_caption }}&nbsp;&nbsp;<div class="vid-mute vid-mute-dark"></div></div>

          
          <!--<div class="text-content slide4" style="padding-top: 0px">
            <br/>
            {{ range $index, $text := .Params.bottomtext }}
              {{ $index := add $index 1 }}
                <p>{{ $text.paragraph }}</p>
            {{ end }}

          </div>-->
          <br/>
          <div class="button1" onClick="window.open('/work','_self')"><span>OUR WORK</span></div>
        </div>

        {{ partial "footer.html" . }}

      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollToPlugin.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>

      <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

      <script src="js/vendor/lity.min.js"></script>

      <script type="text/javascript">

          (function ($) {
            var moreworkclick = false;

            var videoPlayed = false;
            var lityplaying = false;

            var SLIDERTIME = 5000;

            var slideInterval;

            lity.handlers('video', function(target) {
              if (typeof target === 'string' && target.indexOf('.mp4') > 0) {
                var html = '<video style="max-width: 100%;" autoplay controls playsinline>';
                html += '<source src="' + target + '" type="video/mp4">';
                html += '</video>';
                return html;
              }
              return false;
            });

            $(document).on('lity:close', function(event, instance) {
                lityplaying = false;
                autoSlide(SLIDERTIME);
            });

            $(document).on('lity:open', function(event, instance) {
                lityplaying = true;
                pauseAutoSlide();
            });


            $( ".vid-mute" ).click(function() {

              muteunmute_video();

            });

            $( ".vid-playpause" ).click(function() {

              playpause_video();
              
            });

            $( ".vid-rewind" ).click(function() {

              rewind_video();
              
            });

            $(".button1.work-more").click(function() {

              if (!moreworkclick) {
               $(".more-work").slideDown();
               moreworkclick = true;
               $("#see-more-work").hide();
              }
            });

            /*** Pause Hero Video on Lity Click ***/

            $(".lity-vid").click(function() {
              var d = $( ".fullscreen-bg__video");

              try {
                if (!d.get(0).paused) {
                  d.get(0).pause();
                  $(".vid-playpause").css("background-position"," 0px 30px");    
                }
              }
              catch {
                  console.log('error trying to play video');
              }

            });

            /*** Scroll Actions ***/

            $(window).on('scroll', function() {

                var y_scroll_pos = window.pageYOffset;
                var videoelement = $( ".fullscreen-bg__video");

                var bodyRect = document.body.getBoundingClientRect(),
                    elemRect = document.getElementById('fullscreen-bg-video').getBoundingClientRect(),
                    offset   = elemRect.top - bodyRect.top;

                if (y_scroll_pos > 1) {

                  $('.header').css('background-color', 'rgba(255, 255, 255, 1)');
                  $('.header').css('border-bottom', '1px solid rgba(0, 0, 0, .5)');

                  $('.text-nav').addClass('text-nav-black');

                  //$('.text-nav a').css('color', '#000');
                  $('.header-item-logo').css('background-image',"url('../svg/logo_dark_text.svg')");
                  $('.header-item-logo').css('width', '210px');
                  $('.header-item-logo').css('height', '64px');

                }

                else {

                  $('.header').css('background-color', 'rgba(255, 255, 255, 0)');
                  $('.header').css('border-bottom', 'none');

                  $('.text-nav').removeClass('text-nav-black');

                  //$('.text-nav a').css('color', '#000');
                  $('.header-item-logo').css('background-image',"url('../svg/logo_dark_notext.svg')");
                  //$('.header-item-logo').css('width', '65px');
                  //$('.header-item-logo').css('height', '62px');

                }

                if(y_scroll_pos > offset - 600) {
                  if (!videoPlayed) {
                    play_video(); 
                  }
                }
            });

            /*     Spacebar     ***/

            document.addEventListener('keydown', event => {
              if (event.code === 'Space' && videoPlayed && !lityplaying) {
                event.preventDefault();
                playpause_video();
              }
              /*if (event.code === 'Space' && lityplaying) {
                var video = document.getElementsByClassName("lity-opened");
                console.log(video);
                if (video[0].paused) {
                  video[0].play();
                }
                else {
                  video[0].pause();
                }
              }*/
            })

            function play_video() {

              controlsIn();

              var d = $( ".fullscreen-bg__video");
              d.get(0).play();
              $(".vid-playpause").css("background-position"," 0px 0px");

            }

            function pause_video() {

              var d = $( ".fullscreen-bg__video");
              d.get(0).pause();
              $(".vid-playpause").css("background-position"," 0px 30px");

            }

            function playpause_video() {

              controlsIn();

              var d = $( ".fullscreen-bg__video");

              if (d.get(0).paused) {
                d.get(0).play();
                $(".vid-playpause").css("background-position"," 0px 0px");
                unmute_video();
              }
              else {
                d.get(0).pause();
                $(".vid-playpause").css("background-position"," 0px 30px");
              }
            }

            function mute_video() {

              var d = $( ".fullscreen-bg__video");

              d.prop('muted', true);
              $(".vid-mute").css("background-position"," 0px 0px");

            }

            function unmute_video() {

              var d = $( ".fullscreen-bg__video");

              d.prop('muted', false);
              $(".vid-mute").css("background-position"," 0px 30px");

            }

            function muteunmute_video() {

              var d = $( ".fullscreen-bg__video");

              if (d.prop('muted')) {
                d.prop('muted', false);
                $(".vid-mute").css("background-position"," 0px 30px");
              }
              else {
                d.prop('muted', true);
                $(".vid-mute").css("background-position"," 0px 0px");
              }
            }

            function rewind_video() {

              var d = $( ".fullscreen-bg__video");

              d.get(0).pause();
              d.get(0).currentTime = 0;

              play_video();
              unmute_video();

            }

            function controlsIn() {

              if (!videoPlayed) {
                gsap.to(".controls", {
                  x: -170,
                  duration: .3
                });
                videoPlayed = true;
              }
            }

            gsap.registerPlugin(ScrollTrigger);
            gsap.registerPlugin(ScrollToPlugin);
            
            select = e => document.querySelector(e);
            selectAll = e => document.querySelectorAll(e);

            gsap.from(".heading.slide2", {
                scrollTrigger: {
                    trigger: ".slide2",
                    toggleActions: "play none play reset",
                    start: "top center" },
                y: 150,
                opacity: 0,
                duration: .7,
            });
            
            gsap.from(".button1.work-more", {
                scrollTrigger: {
                    trigger: ".work",
                    toggleActions: "play pause play pause",
                    start: "top center" },
                y: 100,
                opacity: 0,
                duration: .5,
            });

            gsap.from(".heading.slide4", {
                scrollTrigger: {
                    trigger: ".slide4",
                    toggleActions: "play pause play pause",
                    start: "top center" },
                y: 50,
                opacity: .5,
                duration: .5,
            });

            gsap.from(".text-content.slide4", {
                scrollTrigger: {
                    trigger: ".slide4",
                    toggleActions: "play pause play pause",
                    start: "top center" },
                y: 50,
                opacity: .5,
                duration: .5,
            });

            var loadedCount = 0; //current number of images loaded
            var imagesToLoad = $('.bcg').length; //number of slides with .bcg container
            var loadingProgress = 0; //timeline progress - starts at 0

            $('.bcg').imagesLoaded({
                background: true
              }
            ).progress( function( instance, image ) {
                loadProgress();
            });

            function loadProgress(imgLoad, image)
            {
                //one more image has been loaded
                loadedCount++;

                loadingProgress = (loadedCount/imagesToLoad);

                // GSAP timeline for our progress bar
                TweenLite.to(progressTl, 0.7, {progress:loadingProgress, ease:Linear.easeNone});

            }

            //progress animation instance. the instance's time is irrelevant, can be anything but 0 to void  immediate render
            var progressTl = new TimelineMax({paused:true,onUpdate:progressUpdate,onComplete:loadComplete});

            progressTl
                //tween the progress bar width
                .to($('.progress span'), 1, {width:100, ease:Linear.easeNone})
                .fromTo("#preloader-mask", 2.5, {attr: { x: 0 } }, { attr: { x: 442 }}, 0);

            //as the progress bar witdh updates and grows we put the precentage loaded in the screen
            function progressUpdate()
            {
                //the percentage loaded based on the tween's progress
                loadingProgress = Math.round(progressTl.progress() * 100);
                //we put the percentage in the screen
                //$(".txt-perc").text(loadingProgress + '%');

            }

            function autoSlide(TIMEOUT) {

              slideInterval = setInterval(nextSlide, TIMEOUT);

              console.log('Autoslide started.');

            }

            function pauseAutoSlide() {

              clearInterval(slideInterval);

              console.log('Autoslide stopped.');

            }

            function nextSlide() {

              var slides = $('.slider');
              var activeSlide = $('.active');

              slides.last().after(slides.first());
              
              activeSlide.removeClass('active').next('.slider').addClass('active');

              setRadio(activeSlide.next('.slider'));

            }

            /* something here is broken, debug before going live */

            function previousSlide() {

              var slides = $('.slider');
              var activeSlide = $('.active');

              slides.first().before(slides.last());

              activeSlide.removeClass('active').prev('.slide').addClass('active');

              setRadio(activeSlide.prev('.slider'));

            }

            function scrollToSlide(slide) {

              var slides = $('.slider');
              var activeSlide = $('.active');

              var nsID = slide.attr('id').split("__").pop();
              var osID = $('.active').attr('id').split("__").pop();

              /*console.log('nsID: ' + nsID);
              console.log('osID: ' + osID);*/

              activeSlide.removeClass('active');
              slide.addClass('active');


              if (nsID > osID) {
                for (i = osID ; i < nsID ; i++) {
                  slides.last().after(slides.first());
                }
              }
              else if (nsID < osID) {
                for (i = nsID ; i > osID ; i--) {
                  slides.last().before(slides.first());
                }
              }

              if (slide.attr('id') == slides.last().attr('id')) {
                slides.last().after(slides.first());
              }
              else if (slide.attr('id') == slides.first().attr('id')) {
                slides.first().before(slides.last());
              }

              slides.removeClass('active');
              slide.addClass('active');

              setRadio(slide);
              
            }

            function setRadio(slide) {

              try {

                var slideID = slide.attr('id').split("_").pop();

                var $activeRadio = $('#slider_' + slideID);
                var $radios = $('input[class*="slide-radio"]');

                $radios.attr('checked', false);
                $activeRadio.attr('checked', true);

                for (i = 1 ; i <= $radios.length ; i++) {
                  if (i == slideID) {
                    $('.page' + i).css('background', 'rgba(255, 255, 255, .8)');
                  }
                  else {
                    $('.page' + i).css('background', 'none');
                  }
                }

              }
              catch {
                console.log(slide);
                console.log('Error setting radio');
              }
            }

            $('input[class*="slide-radio"]').click(function() {

              var slides = $('.slider');

              pauseAutoSlide();

              scrollToSlide($activeSlide = $('#slider__' + $(this).attr('id').split("_").pop()));

              autoSlide(SLIDERTIME);

            });

            /*$('.next.control').click(function() {
              nextSlide();
            });

            $('.previous.control').click(function() {
              previousSlide();
            });*/

            function loadComplete() {

                // set width of slider caption highlights

                /*for (i = 1 ; i <= 5 ; i++) {
                  $("#slider" + i + "-highlight").css('width', $("#slider" + i + "-caption").width() + 60);
                }*/

                {{ range $index, $slide := .Params.carousel }}{{ $index := add $index 1 }}
                $("#slider{{$index}}-highlight").css('width', $("#slider{{$index}}-caption").width() + 60);{{ end }}

                // preloader out
                var preloaderOutTl = new TimelineMax();
                preloaderOutTl
                    .to($('.progress'), 0.3, {y: 100, autoAlpha: 0, ease:Back.easeIn})
                    .to($('.preloader'), 0.5, {autoAlpha: 0, ease:Back.easeIn}, 0)
                    .set($('.reveal-after-load'), {'visibility':'visible'})
                    .set($('body'), {'overflow':'visible'})
                    .set($('.preloader'), {'display':'none'});

                /* Initialize carousel scroller */

                $('.slider1').addClass('active');

                var setcssinterval = setInterval(setSliderCss, 1000);

                function setSliderCss() {
                  $('.slider').css('transition', '0.9s ease');
                }

                var slides = $('.slider');
                var activeSlide = $('.active');

                // Move the last slide before the first so the user is able to immediately go backwards
                slides.first().before(slides.last());

                autoSlide(SLIDERTIME);

                setRadio(activeSlide);
                  
                return preloaderOutTl;
            }


        }(jQuery));
    </script>

    </body>
{{end}}